<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.todolist" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ToDoList"
            android:label="@string/app_name" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"
                />
            <!--<meta-data-->
                <!--android:name="android.app.default_searchable"-->
                <!--android:value="example.todolist" />-->
        </activity>

        <!--<activity android:name=".searchResultActivity"-->
            <!--android:label="Element search"-->
            <!--android:launchMode="singleTop">-->
        <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.SEARCH"/>-->
            <!--<category android:name="android.intent.category.DEFAULT"/>-->
        <!--</intent-filter>-->
        <!--<meta-data android:name="123"-->
            <!--android:resource="@xml/searchable"/>-->
        <!--</activity>-->

        <provider
            android:authorities="example.todolist.ToDoContentProvider"
            android:name=".ToDoContentProvider"
            android:exported="true"
            android:enabled="true"
            android:multiprocess="true"/>
    </application>

</manifest>
